In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [2]:
nifty50 = pd.read_csv("/home/kingas/Desktop/stock_market/upload_files/RELIANCE.NS_5y.csv")
nifty50

            date         open         high          low        close    volume
0     2018-02-12   875.374715   890.109744   874.453817   887.492310   5481260
1     2018-02-14   894.762859   913.666300   892.824063   905.087097  10267369
2     2018-02-15   908.964614   916.816797   899.755274   907.025818   6167365
3     2018-02-16   910.855031   913.763285   890.012795   893.114868   4443395
4     2018-02-19   892.824116   903.487614   885.602070   898.640564   4126685
...          ...          ...          ...          ...          ...       ...
1231  2023-02-06  2315.000000  2321.000000  2305.800049  2311.449951   6847679
1232  2023-02-07  2312.000000  2327.399902  2293.000000  2305.899902   6985001
1233  2023-02-08  2313.000000  2359.899902  2307.000000  2351.949951   9765490
1234  2023-02-09  2353.449951  2370.850098  2334.000000  2356.050049   6079228
1235  2023-02-10  2354.899902  2354.899902  2321.300049  2336.649902   4977834

[1236 rows x 6 columns]

In [3]:
nifty50['date'] = pd.to_datetime(nifty50['date'])
nifty50['Year'] = nifty50['date'].dt.year
nifty50['Month'] =nifty50['date'].dt.month
nifty50['Day'] = nifty50['date'].dt.day
nifty50['dayOfWeek'] = nifty50['date'].dt.day_name()
nifty50['WeekOfYear'] = nifty50['date'].dt.isocalendar().week

nifty50.head(419)

,date,open,high,low,close,volume,Year,Month,Day,dayOfWeek,WeekOfYear
0,2018-02-12,875.374715,890.109744,874.453817,887.492310,5481260,2018,2,12,Monday,7
1,2018-02-14,894.762859,913.666300,892.824063,905.087097,10267369,2018,2,14,Wednesday,7
2,2018-02-15,908.964614,916.816797,899.755274,907.025818,6167365,2018,2,15,Thursday,7
3,2018-02-16,910.855031,913.763285,890.012795,893.114868,4443395,2018,2,16,Friday,7
4,2018-02-19,892.824116,903.487614,885.602070,898.640564,4126685,2018,2,19,Monday,8
...,...,...,...,...,...,...,...,...,...,...,...
414,2019-10-25,1413.411905,1413.755147,1384.135425,1403.702026,6248688,2019,10,25,Friday,43
415,2019-10-27,1413.313820,1417.237051,1402.525147,1406.693481,1391348,2019,10,27,Sunday,43
416,2019-10-29,1417.727315,1451.564440,1414.392672,1438.863281,11892161,2019,10,29,Tuesday,44
417,2019-10-30,1451.564524,1456.027153,1432.243025,1450.681885,7541537,2019,10,30,Wednesday,44
418,2019-10-31,1455.487637,1461.029060,1433.615997,1436.215088,8982513,2019,10,31,Thursday,44

In [4]:
close = nifty50['close']

In [5]:
X = nifty50[['Day','Month','Year']]
poly2 = PolynomialFeatures(degree =2)
X_poly = poly2.fit_transform(X)

In [6]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=15, random_state=0)
regressor.fit(X_poly,close)
print(regressor.score(X_poly, close))

0.9993677761381335

In [7]:
Day = 30


Month =12
Year =2025

#Samples = Samples_31_July[0,0]
X1 = np.array([[Day,Month,Year]])
Total_infections  = regressor.predict(poly2.fit_transform(X1))
print('Total No of cases -> {}'.format(int(Total_infections[0])))

Total No of cases -> 2557